<h2>Model driven form</h2>
<form  [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group col-sm-10" >
      <label for="name">Name:</label>
      <input type="text" name="fname" formControlName="fname" class="form-control" > 
    {{userForm.controls['fname'].errors.required}}
<div [hidden]="userForm.controls.fname.errors.required">
   Name is required 
</div>
      <label for="pwd">Email:</label>
      <input type="text" class="form-control" formControlName="email" >
      <label for="street">street:</label>
      <input type="text" class="form-control" formControlName="street" >
      <label for="City">City:</label>
      <input type="text" class="form-control" formControlName="city" >
      
      <button [disabled]="!userForm.valid" type="submit" class="btn btn-default">Submit</button>
    </div>
   
   
  </form> 